.pa-com {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
  width: 50%;
  margin: auto;
}

.pa-com h2 {
  margin-top: 30px;
}

.pa-com ul {
  margin-top: 30px;
}

.pa-com + div {
  text-align: center;
}

.main-ap {
  width: 80%; /* gere la largeur du main*/
  margin: auto;
}
table {
  color: white;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
/*
td,
th {
  padding: 15px;
  border: 1px solid #a5b4fc;
}
*/

th{
  border:1px solid #a5b4fc;
  padding: 15px;
}
td{
  border:1px solid #a5b4fc;
  padding: 80px;
}
td {
  padding: 80px;
}

h2 {
  margin-bottom: 80px;
}

h1,
h2 {
  text-align: center;
}